.card {
  background-color: var(--themeSecondary);
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.card__section:not(:last-child) {
  margin-bottom: 5px;
}
.section {
  margin: 0;
  display: inline-block;
  background-color: var(--gray100);
  padding: 2px 25px;
  color: white;
}
