.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 95vh;
  display: flex;
  flex-direction: column;
}
.console {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.console__filters button:not(:last-child) {
  margin-right: 20px;
}
.cards__container {
  flex: 1;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
