.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  user-select: none;
}
.pagination__arrow {
  cursor: pointer;
  position: relative;
  width: 12px;
  font-size: 40px;
  font-weight: 600;
  height: 26px;
}
.arrow--left::before {
  content: "\2039";
  vertical-align: middle;
  position: absolute;
  top: -65%;
}

.arrow--right::before {
  content: "\203A";
  vertical-align: middle;
  position: absolute;
  top: -65%;
}
.arrow--inactive {
  color: var(--inactive);
}
.pagination__endpoint {
  display: flex;
  gap: 5px;
}
.endpoint--spacer {
  line-height: 30px;
  height: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 2px;
}
