@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
:root {
  --themePrimary: rgba(227, 255, 227, 255);
  --themeSecondary: rgba(204, 255, 204, 255);
  --button: rgb(141, 252, 141);
  --gray100: rgb(126, 149, 126);
  --gray300: rgb(77, 77, 77);
  --gray500: rgb(46, 46, 46);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif, "Segoe UI", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--themePrimary);
}
